<!-- component.name -->
[% USE now = DateTime(now = 1) %]
[% SET year = now.year %]
[% SET num = 1; %]

<h1>[% year %]</h1>
<table>
[% FOR rows = [ 1, 2, 3, 4 ] %]
<tr>
[% FOR cols = [ 1, 2, 3 ] %]
<td>
[% INCLUDE month.tt2( month_num = num, year_num = year ) %]
</td>
[% SET num = num + 1 %]
[% END %]
</tr>
[% END %]
</table>

<!-- End component.name -->
